@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  /* Ensure input fields have black text in dark mode */
  input,
  textarea,
  select {
    color: #000000;
  }
}

body {
  color: var(--foreground); /* This controls the text color */
  background: var(--background); /* This controls the background color */
  font-family: Arial, Helvetica, sans-serif;
}
